@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.gutter {
  scrollbar-gutter: stable both-edges;
}

/* Scrollbar track */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Tailwind gray-500 */
  border-radius: 8px;
}

/* Optional: scroll track background */
::-webkit-scrollbar-track {
  background-color:black; /* Tailwind gray-800 or your bg */
}

#btn-gradient {
  position: relative;
  padding: 10px 50px;
  font-size: 30px;
  background: black;
  color: white;
  border-radius: 5px;
  z-index: 1;
}

#btn-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(to right,
    #FF4F9A 0%, #FF4F9A 20%,
    #39FF14 20%, #39FF14 40%,
    #00FFFF 40%, #00FFFF 60%,
    #FFFF33 60%, #FFFF33 80%,
    #9D00FF 80%, #9D00FF 100%
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
  z-index: -2;
}

#btn-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px dashed black;
  border-radius: 5px;
  pointer-events: none;
  z-index: -1;
}